<div>
  <div>
    <% if notice.present? %>
      <p><%= notice %></p>
    <% end %>

    <%= render @user %>

    <%= link_to 'Back to users', users_path, class: "rounded-lg py-3 px-5 bg-sky-500 hover:bg-sky-700 inline-block font-medium mt-2" %>
  </div>
</div>
